<p>Please name this marrow before submitting!</p>
<form action="/marrows/create_marrow" method="post" id="marrow_form">
  <table>
    <tr>
      <td>Marrow name:</td>
      <td><input type="text" name="name"></td>
    </tr>
    <tr>
      <td>Language:</td>
      <td>
      <select name="language" form="marrow_form">
        <% Pygments.lexers.sort.each do |lexer| %>
          <% l = lexer[1][:aliases][0] %>
          <option value=<%= l %>><%= lexer[0] %></option>
        <% end %>
      </select>
      </td>
    </tr>
    <tr>
      <td>Marrow creator:</td>
      <td>
        <%= @@user %><input type="hidden" name="creator" value=<%= @@user %> />
      </td>
    </tr>
  </table>
  <textarea cols="120" rows="40" name="content"><%= @content %></textarea><br>
  Access level:<br>
  <input type="radio" name="access_level" value="private" checked>Private<br>
  <input type="radio" name="access_level" value="public">Public<br>
  <input type="submit" value="Save"><br>
  <a href="/users/register">Don't have an account? Register here!</a>
</form>