<% unless @@user == nil %>
  <p>Logged in as <%= @@user %></p>
<% end %>
<div class="marrow_container">
  <%= Pygments.highlight(@marrow.content, lexer: @marrow.language, options: {linenos: 'table'}) %>
</div>
<p id="likes">Likes: <%= @marrow.rating %></p>
<% marrow_repr = "<name:#{@marrow.name};creator:#{@marrow.creator}>" %>
<% unless @@user == nil %>
  <% if get_logged_user.likes.include? marrow_repr %>
    <a href="/marrows/dislike/<%= @marrow.name %>">Dislike</a><br>
  <% else %>
    <a href="/marrows/like/<%= @marrow.name %>">Like</a><br>
  <% end %>
  <% if @@user == @marrow.creator %>
    <a href="/marrows/edit/<%= @marrow.name %>">Edit</a><br>
  <% end %>
  <a href="/marrows/create_marrow">Create a new Marrow.</a><br>
<% end %>