<% unless @@user == nil %>
  <p>Logged in as <%= @@user %></p>
<% end %>
<div class="marrow_container">
  <%= Pygments.highlight(@marrow.content, lexer: @marrow.language, options: {linenos: 'table'}) %>
</div>
<p>Likes: <%= @marrow.rating %></p>
<% if get_logged_user.likes != nil and get_logged_user.likes.include? @marrow %>
  <a href="/marrows/dislike/<%= @marrow.name %>">Dislike</a>
<% else %>
  <a href="/marrows/like/<%= @marrow.name %>">Like</a>
<% end %>
<a href="/marrows/edit/<%= @marrow.name %>">Edit</a><br>
<a href="/marrows/create_marrow">Create a new Marrow.</a><br>